body {

    background-color: red;
    clear: both;
    font-family: fantasy;
    margin-bottom: 100px;
    margin: 0;
    min-height: 400px;
    text-align: center;
    font-family: fantasy;
}

ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

li {
    float: left;
}

li a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #000;
}

footer {
    background-color: #333;
    bottom: 0;
    color: white;
    left: 0;
    padding: 20px;
    position: fixed;
    width: 100%;
}